<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>My restaurants</h1>
      <% @restaurants.each do |restaurant| %>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone_number %></p>
        <p><%= link_to "Edit this restaurant", edit_restaurant_path(restaurant) %> |
        <%= link_to "Delete this restaurant", restaurant_path(restaurant), method: :delete %></p>
      <% end %>
    </div>
  </div>
</div>

